/* #region Reset default styles */
html {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* #endregion Reset default styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.header-two {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.header-three {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

.section {
    padding: 120px 0;
}

/* #region Header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-header{
    color: #2E2F42;
}

.logo-footer {
    color: #F4F4FD;
}

.main-header {
    background-color: #ffffff;;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-link-flex {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.active-link {
    position: relative;
    color: #404bbf;
}

.active-link::after {
    content:"";
    background-color: #404BBF;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-link:hover, .nav-link:focus  {
    color: #404BBF;
}

.addr {
    color:#434455;
    font-style: normal;
}

.addr-list-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
}

.addr-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.addr-link:hover, .addr-link:focus  {
    color: #404BBF;
}
/* #endregion Header */

/* #region Oder Service */
.section-order-service {
    color: #FFFFFF;
    background-color: #2E2F42;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.order-service-flex {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

button {
    background-color: #4D5AE5;    
    cursor: pointer;
    /*flex stuff for button*/
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover, button:focus {
    background-color: #404BBF;
}

.button-text {
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
}
/* #endregion Order Service */

/* #region Goals */
.section-goals {
    background-color: #fff;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.goals-list {
    display: flex;
    gap: 24px;
}

.goals-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
}

.goals-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

/* #endregion Goals */

/* #region Team*/

.section-team {
    background-color: #F4F4FD;
    display: flex;
}

.container-ourteam {
    display: flex;
    flex-direction: column;
}

.our-team-title-flex {
    display: flex;
    align-self: center;
    margin-bottom: 72px;
}

.our-team-card-content-flex {
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.our-team-card-content {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    background-color: #ffffff;
    width: Hug (264px) px;
    height: Hug (380px) px;
    top: 1248px;
    left: 1020px;
    opacity: 0px;
}

.our-team-list-flex {
    display: flex;
    align-self: center;
    gap: 24px;
}

.our-team-name-flex {
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-paragraph-flex {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-media-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 8px 16px 0 16px;
}

.social-media-circle {
    position: relative;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-media-circle:hover,
.social-media-circle:focus {
    background-color: #404bbf;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-icon {
    fill:#F4F4FD;
}
/* #endregion Team*/

/* #region Portfolio */
.container-portofolio {
    column-gap: 24px;
}

.portofolio-title-flex {
    margin-bottom: 72px;
}

.portofolio-list-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portofolio-card-content {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portofolio-card-content:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229,0px 1px 6px 0px #2E2F4214;
}

.portofolio-card-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-card-content:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

/* #endregion Portfolio */

/* #region Footer*/

.paragraph-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer  {
    background-color: #2E2F42;
    color: #F4F4FD; 
    padding: 100px 0;
}

.footer-logo-flex {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-flex-container {
    display: flex;
    align-items: baseline;
}

.footer-container-one {
    margin-right: 120px;
}

.social-media-box-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.social-media-circle-footer {
    position: relative;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-media-circle-footer:hover,
.social-media-circle-footer:focus {
    background-color: #31D0AA;
}

.social-media-item-footer {
    width: 40px;
    height: 40px;
}

.social-media-icon-footer {
    fill: #F4F4FD;
}
/* #endregion Footer*/





